$color-nav: linear-gradient(to right,
    #050505,
    #1d3a8a 50%,
    rgb(255, 255, 255) 50%);

$font: 'Poppins', sans-serif;

$vista: 1024px;

$alinear-al-centro: center;

$color-footer: #0a141d;

$ancho: 100%;

$contenido-flexible: flex;

$alto-mapa: 100%;