/* MAIN */
@import "../variables/variables";

.grid-main {
    display: grid;
    grid-template-areas:
        "prod-1 text-1"
        "text-2 prod-2"
        "prod-3 text-3";

    .prod-1 {
        grid-area: prod-1;
        max-width: fit-content;
    }

    .prod-2 {
        grid-area: prod-2;
        max-width: fit-content;
    }

    .prod-3 {
        grid-area: prod-3;
        max-width: fit-content;
    }

    .text-1 {
        grid-area: text-1;
        margin-top: 90px;
        width: $ancho;
    }

    .text-2 {
        grid-area: text-2;
        margin-left: 10px;
        width: $ancho;
    }

    .text-3 {
        grid-area: text-3;
        margin-top: 140px;
        width: $ancho;
    }
}

/* PATROCINADORES */
aside {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


/*FORMULARIO*/

.div-center {
    display: flex;
    align-items: $alinear-al-centro;
    justify-content: $alinear-al-centro;
    margin-top: 100px;
    margin-bottom: 100px;
}

.div-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: $alinear-al-centro;
    align-items: $alinear-al-centro;
    background: linear-gradient(to right, #2eb9e4, #634be9);
    max-width: 700px;
    width: $ancho;
    padding: 10px 25px;
    font-family: $font;
    border-radius: 10px;
}

.div-container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #ccc;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        background: #2b2e2d;
    }
}


.div-container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    color: #ccc;
}


form .user-details .input-box {
    margin-bottom: 15px;
    width: calc($ancho / 2- 20px);
}

.user-details .input-box details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.user-details .input-box input {
    height: 45px;
    width: $ancho;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #424947;
}

.div-newsletter {
    display: flex;
    justify-content: $alinear-al-centro;
}

.div-inputs input {
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    height: 100%;
    width: $ancho;
    outline: none;
    color: #fff;
    border: none;
    letter-spacing: 1px;
    background: linear-gradient(to left, #2eb9e4, #634be9);
    padding: 5px;
    margin: 5px;

    &:hover {
        background: linear-gradient(to top, #2eb9e4, #634be9);
    }
}


/* MAPA DE GOOGLE */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-top: 10px;

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}


// APARTADO DE PRODUCTOS

* {
    box-sizing: border-box;
}

main .grid-products{
    display: grid;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

section h2 {
    width: 100%;
    color: #999;
    font-family: monospace;
}

.card {
    width: 33.333333%;
}

/* Cards de productos */
.card-estilo-producto {
    font-family: sans-serif;
    text-align: center;
}

.card-estilo-producto .img-container {
    overflow: hidden;
    position: relative;
}

.card-estilo-producto .img-container img {
    width: 100%;
}

.card-estilo-producto .img-container .price {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: white;
    padding: 15px;
}

.card-estilo-producto .img-container .favorite {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.card-estilo-producto .img-container .favorite svg {
    transform: translatey(14px);
}

.card-estilo-producto .img-container .favorite:hover {
    background: red;
}

.card-estilo-producto .img-container .favorite:hover svg {
    fill: white;
}

.card-estilo-producto a {
    display: inline-block;
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.card-estilo-producto a:hover {
    color: black;
    background-color: transparent;
    border: 1px solid black;
}

/*Estilo producto rebajas*/
.card-estilo-rebaja {
    font-family: sans-serif;
}

.card-estilo-rebaja .img-container {
    overflow: hidden;
    height: 250px;
    position: relative;
    border-radius: 15px;
}

.card-estilo-rebaja .img-container img {
    width: 105%;
    height: 100%;
    top: -60%;
    transition: all 0.5s;
}

.card-estilo-rebaja:hover .img-container img {
    transform: scale(1.2);
}

.card-estilo-rebaja .img-container .promo {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: yellow;
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.card-estilo-rebaja .info-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.card-estilo-rebaja .info-container h3 {
    margin: 0;
}

.card-estilo-rebaja .info-container h3,
.card-estilo-rebaja .info-container strong,
.card-estilo-rebaja .info-container span {
    padding: 5px 15px;
    width: 100%;
}

.card-estilo-rebaja .add-cart {
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
    &:hover {
        color: black;
        background-color: transparent;
        border: 1px solid black;
    }
}

