@import "../variables/variables";


$footer:(
    color-footer: $color-footer,
    ancho-footer: $ancho,
);

.pie-pagina{
    background-color: map-get($footer, color-footer);
    width: map-get($footer , ancho-footer);
}