@import "../variables/variables";

@mixin flexibilizar-posicion{
    display: flex;
    position: relative;
}

@mixin titulos($color-title:#54b3d6, $display-title: flex){
    font-family: $font;
    display: $display-title;
    color: $color-title;
}